<template>
  <div style="background: aliceblue">
    <v-container style="width: 1000px">
      <timelines/>
    </v-container>
  </div>
</template>

<script>
import SelectionQuote from './SelectionQuote'
import Timelines from '../base/Timelines'
export default {
  name: 'BaseListQuote',
  components: {Timelines, SelectionQuote}
}
</script>

<style scoped>

</style>
