<template>
  <div>
    <v-card
    class="mx-auto"
  >
      <v-card-subtitle v-if="!selected.length">
        Выберите валюту/валюты из списка снизу
      </v-card-subtitle>
      <v-card-subtitle v-else>
        Выбранные валюты:
      </v-card-subtitle>
    <v-container class="py-4">
      <v-row
        align="center"
        justify="start"
      >
        <v-col
          v-for="(selection, i) in selections"
          :key="selection.text"
          class="shrink"
        >
          <v-chip
            :disabled="loading"
            close
            @click:close="deleteChip(i)"
          >
            <v-icon
              left
              v-text="selection.icon"
            ></v-icon>
            {{ selection.text }}
          </v-chip>
        </v-col>
      </v-row>
    </v-container>

    <v-divider v-if="!allSelected"></v-divider>

    <v-list>
      <template v-for="item in categories">
        <v-list-item
          v-if="!selected.includes(item)"
          :key="item.text"
          :disabled="loading"
          @click="pushChip(item)"
        >
          <v-list-item-avatar>
            <v-icon
              :disabled="loading"
              v-text="item.icon"
            ></v-icon>
          </v-list-item-avatar>
          <v-list-item-title v-text="item.text"></v-list-item-title>
        </v-list-item>
      </template>
    </v-list>

    <v-divider></v-divider>

    <v-card-actions>
      <v-spacer></v-spacer>
      <v-btn
        :disabled="!selected.length"
        :loading="loading"
        color="purple"
        text
        @click="next"
      >
        <span v-if="selected.length <= 1">
          Получить котировку
        </span>
        <span v-else>
          Получить котировки
        </span>
      </v-btn>
    </v-card-actions>
  </v-card>
  </div>
</template>

<script>

import axios from 'axios'

export default {
  name: 'BaseListQuote',
  data: () => ({
    items: [],
    loading: false,
    search: '',
    selected: []
  }),
  mounted () {
    axios
      .get('http://127.0.0.1:8000/currency_quotes')
      .then(response => (
        this.items = response.data.desserts
      )
      )
      .catch(error => {
        console.log(error)
        this.errored = true
      })
      // .finally(() => (this.loading = false))
  },
  computed: {
    allSelected () {
      return this.selected.length === this.items.length
    },
    categories () {
      const search = this.search.toLowerCase()

      if (!search) return this.items

      return this.items.filter(item => {
        const text = item.text.toLowerCase()

        return text.indexOf(search) > -1
      })
    },
    selections () {
      const selections = []

      for (const selection of this.selected) {
        selections.push(selection)
      }

      return selections
    }
  },

  watch: {
    selected () {
      this.search = ''
    }
  },

  methods: {
    next () {
      this.loading = true
      this.$emit('nextPage', this.selected)
      this.loading = false
    },
    deleteChip (i) {
      this.selected.splice(i, 1)
      this.$emit('disabledChip')
    },
    pushChip (item) {
      this.selected.push(item)
      this.$emit('disabledChip')
    }
  }
}
</script>
<style scoped>
h1, h2 {
  font-weight: normal;
}
ul {
  list-style-type: none;
  padding: 0;
}
li {
  display: inline-block;
  margin: 0 10px;
}
a {
  color: #42b983;
}
</style>
