<template>
  <div>
    <v-data-table
    :headers="headers"
    :items="desserts"
    class="elevation-2 pa-4"
    />
    <v-card style="display: flex; justify-content: space-around; align-items: center">
    <v-container>
      <v-btn
          class="ma-2"
          :loading="loading1"
          :disabled="loading1"
          style="background: rgba(55,190,94,0.42); margin: 10px"
          @click="loader = 'loading1'"
        >
        .CSV
        <template v-slot:loader>
          <span class="custom-loader">
            <v-icon light>mdi-cached</v-icon>
          </span>
        </template>
      </v-btn>
        <v-btn
          class="ma-2"
          :loading="loading2"
          :disabled="loading2"
          style="background: rgba(55,190,94,0.42); margin: 10px"
          @click="loader = 'loading2'"
        >
        .XLSX
        <template v-slot:loader>
          <span class="custom-loader">
            <v-icon light>mdi-cached</v-icon>
          </span>
        </template>
      </v-btn>
      <v-btn
          class="ma-2"
          :loading="loading3"
          :disabled="loading3"
          style="background: rgba(55,190,94,0.42); margin: 10px"
          @click="loader = 'loading3'"
        >
        .PDF
        <template v-slot:loader>
          <span class="custom-loader">
            <v-icon light>mdi-cached</v-icon>
          </span>
        </template>
      </v-btn>
    </v-container>
    </v-card>
  </div>

</template>

<script>

export default {
  name: 'TableQuote',
  props: [
    'desserts', 'headers'
  ],
  data () {
    return {
      loader: null,
      loading1: false,
      loading2: false,
      loading3: false
    }
  },
  watch: {
    loader () {
      const l = this.loader
      this[l] = !this[l]

      setTimeout(() => (this[l] = false), 3000)

      this.loader = null
    }
  }
}
</script>

<style scoped>
  .custom-loader {
    animation: loader 1s infinite;
    display: flex;
  }
  @-moz-keyframes loader {
    from {
      transform: rotate(0);
    }
    to {
      transform: rotate(360deg);
    }
  }
  @-webkit-keyframes loader {
    from {
      transform: rotate(0);
    }
    to {
      transform: rotate(360deg);
    }
  }
  @-o-keyframes loader {
    from {
      transform: rotate(0);
    }
    to {
      transform: rotate(360deg);
    }
  }
  @keyframes loader {
    from {
      transform: rotate(0);
    }
    to {
      transform: rotate(360deg);
    }
  }
</style>
