<template>
  <div>
    <v-card>
    <v-toolbar
      flat
      color="primary"
      dark
    >
      <v-toolbar-title>Котировка валюты</v-toolbar-title>
    </v-toolbar>
     <v-tabs grow v-model="active_tab">
       <v-tab v-for="tab of tabs" :key="tab.id" :disabled="tab.disabled">
         <v-icon left>
         {{tab.icon}}
        </v-icon>
         {{tab.name}}
       </v-tab>
       <v-tab-item>
        <v-card flat>
          <selection-quote
          @nextPage="apiUrl($event)"
          @disabledChip="disabledChip"
          />
        </v-card>
      </v-tab-item>
      <v-tab-item>
        <v-card flat>
          <table-quote
            :desserts="this.desserts"
            :headers="this.headers"
          />
        </v-card>
      </v-tab-item>
     </v-tabs>
  </v-card>
  </div>
</template>

<script>
import SelectionQuote from '../currency_quotes/SelectionQuote'
import TableQuote from '../currency_quotes/TableQuote'
import axios from 'axios'
export default {
  name: 'Timelines',
  components: {TableQuote, SelectionQuote},
  data: () => ({
    active_tab: 0,
    tabs: [
      { id: 1, name: 'Выбор котировок', icon: 'mdi-account', disabled: false },
      { id: 2, name: 'Просмотр котировок', icon: 'mdi-lock', disabled: true }
    ],
    rowTable: [],
    desserts: [],
    headers: [],
    reverse: true,
    disabled: true,
    steps: [
      {
        message: `Выбор котировок`,
        id: '1',
        color: 'deep-purple lighten-1'
      },
      {
        message: 'Просмотр котировок',
        id: '2',
        color: 'green'
      }
    ]
  }),
  methods: {
    apiUrl (event) {
      this.desserts = []
      event.forEach((element) => {
        this.active_tab = 1
        this.rowTable.push(element.code)
      })
      this.getFilterTableData()
      this.tabs[1].disabled = false
    },
    disabledChip () {
      this.tabs[1].disabled = true
    },
    getDataTable (response) {
      this.desserts = response.data.desserts
      this.headers = response.data.headers
      this.rowTable = []
      return 0
    },
    getFilterTableData () {
      axios
        .get(`http://127.0.0.1:8000/table_quote/${this.rowTable}`)
        .then(response => (
          this.getDataTable(response)
        )
        )
        .catch(error => {
          console.log(error)
          this.errored = true
        })
      // .finally(() => (this.loading = false))
    }
  }
}
</script>

<style scoped>

</style>
